@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Oswald:wght@300&display=swap');

body{
    padding: 0 2%;
    margin: 0;
    font-family: 'Noto Sans';
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;

}

nav .profile{
 display: flex;
 align-items: center;

}

nav .profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .profile h1{
    margin-left: 10px;
    font-size: 15px;

}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    cursor: pointer;
    margin-left: 20px;
    border-bottom: 1px solid #fff;
}

/* Quand le curseur passe  : effet */
nav ul li:hover{
    border-bottom-color: black;
}

/* enlever la couleur et souslignage des liens */
a{
    text-decoration: none;
    color: black;
}

/* Responsive */

@media screen and (max-width: 700px){
    nav{
        justify-content:center;
    }

    nav ul {
        display: none;
    }
}

