@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Oswald:wght@300&display=swap');

body{
    padding: 0 2%;
    margin: 0;
    font-family: 'Noto Sans';
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;

}

nav .profile{
 display: flex;
 align-items: center;

}

nav .profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .profile h1{
    margin-left: 10px;
    font-size: 15px;

}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    cursor: pointer;
    margin-left: 20px;
    border-bottom: 1px solid #fff;
}

/* Quand le curseur passe  : effet */
nav ul li:hover{
    border-bottom-color: black;
}

/* enlever la couleur et souslignage des liens */
a{
    text-decoration: none;
    color: black;
}

.page-content {
    margin: 4%;

}

.page-content header{
    margin-top: 5%;
    max-width: 80%;
}

.page-content header h1{
    margin: 0;
    /* mettre en majuscule  */
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    /* unité en view width */
    font-size: 6vw;
}

.page-content header p{
    /* agrandir l'espace entre chaque lettre */
    line-height: 30px;
    color: #818181;
}

.page-content header button{
    /* prend la couleur d'arrière plan de son parent  */
    background-color: inherit;
    border: none;
    /* enelevr la bordure au clic  */
    outline: none;
    padding-left: 0;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.page-content header button:hover{
    color: #ccc;
    border-bottom-color: black; 
}





/* Responsive */

@media screen and (max-width: 700px){
    nav{
        justify-content:center;
    }

    nav ul {
        display: none;
    }
    .page-content header{
        margin-top: 10%;
        max-width: 100%;
    }
}

